# New section

In [ ]:
name = "rishi"
print(name)

rishi

In [ ]:
text = "hello world"
print(len(text))

11

In [ ]:
text = "python programing"
print(text[:3])

pyt

In [ ]:
print("hello".upper())

HELLO

In [ ]:
text = "i like apple"
print(text. replace ("apple","orange"))

i like orange

In [ ]:
r = [1,2,3,4,5]
print(r)

[1, 2, 3, 4, 5]

In [ ]:
v = [1,2,3,4,5]
v.append(10)
print(v)

[1, 2, 3, 4, 5, 10]

In [ ]:
t = [1,2,3,4]
t.remove(3)
print(t)

[1, 2, 4]

In [ ]:
t = ['1','B','C','D']
print(t[1])

B

In [ ]:
list = [10,20.30,40,50]
list . reverse()
print(list)

[50, 40, 20.3, 10]

In [ ]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
color = ('red','green','blue','yellow')
print(color[-2])

blue

In [ ]:
j = ('10','20','30','40','50')
print(min(j))

10

In [ ]:
animal = ('dog','cat','cow','rabbit')
print(animal.index("cat"))

1

In [ ]:
fruits = ('apples','banana','kiwi',)
print("kiwi"in fruits)

True

In [ ]:
f = {1,2,3,4,5,6,7,8,9}
print(f)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
h = {1,2,3,4,5,6,7,8,9}
h. clear()
print(h)

set()

In [ ]:
g = {1,2,3,4,5,6}
g.remove(4)
print(g)

{1, 2, 3, 5, 6}

In [ ]:
s1 = {1,2,3}
s2 = {3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
s1 = {1,2,3}
s2 = {1,2,3}
print(s1.intersection(s2))

{1, 2, 3}

In [ ]:
d = {"name":"rishi","age":"17","place":"pune"}
print(d)

{'name': 'rishi', 'age': '17', 'place': 'pune'}

In [ ]:
r = {"name":"john",'age':"25"}
r['country'] = 'USA'
print(r)

{'name': 'john', 'age': '25', 'country': 'USA'}

In [ ]:
d = {'name':'alice','age':'30'}
print(d['name'])

alice

In [ ]:
d = {'nmae': 'bob','age':'22','city':'new york'}
d.pop('age')
print(d)

{'nmae': 'bob', 'city': 'new york'}

In [ ]:
d = {'nmae':'alice','city':'paris'}
print("city" in d )

True

In [ ]:
list = [1,2,3]
tup =  (1,2,3)
dic = {"my name is":"eva"}
print(list,tup,dic)

[1, 2, 3] (1, 2, 3) {'my name is': 'eva'}

In [ ]:
import random
nums = random . sample(range(1, 101), 5)
nums . sort()
print(nums)

[6, 9, 22, 29, 79]

In [ ]:
words = ["apple", "banana", "cherry","date"]
print(words[3])

date

In [ ]:
d1 = {"a":1}
d2 = {"b":2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

In [ ]:
words = ["a","b","c"]
print(set(words))

{'b', 'c', 'a'}