Que 1. What are data structures, and why are they important
Ans 1. Data structures are organized ways to store and manage data so that it can be used efficiently. They are important because they help in organizing data, making algorithms faster, and solving problems effectively.

Que 2. Explain the difference between mutable and immutable data types with examples
Ans 2. Mutable data types can be changed after creation, like lists and dictionaries. Immutable data types cannot be changed once created, like strings and tuples. Example: list = [1, 2, 3] (mutable), string = "hello" (immutable)

Que 3. What are the main differences between lists and tuples in Python
Ans 3. Lists are mutable and use square brackets [ ]. Tuples are immutable and use round brackets ( ). Lists can be changed; tuples cannot be modified once created.

Que 4. Describe how dictionaries store data
Ans 4. Dictionaries store data in key-value pairs. Each key maps to a value, and the keys must be unique. Data can be accessed quickly using the keys.

Que 5. Why might you use a set instead of a list in Python
Ans 5. Sets are used when we want to store only unique items. They automatically remove duplicates and allow fast searching using the "in" keyword.

Que 6. What is a string in Python, and how is it different from a list
Ans 6. A string is a sequence of characters and is immutable. A list can contain multiple data types and is mutable. Strings cannot be changed; lists can.

Que 7. How do tuples ensure data integrity in Python
Ans 7. Tuples are immutable, so their values cannot be accidentally changed. This helps in keeping the data safe and reliable.

Que 8. What is a hash table, and how does it relate to dictionaries in Python
Ans 8. A hash table stores data using a hash function to map keys to values. Python dictionaries are built using hash tables, which makes data access fast.

Que 9. Can lists contain different data types in Python
Ans 9. Yes, lists in Python can contain different types like integers, strings, floats, and even other lists or dictionaries.

Que 10. Explain why strings are immutable in Python
Ans 10. Strings are immutable to improve performance and security. When we change a string, Python actually creates a new one instead of modifying the original.

Que 11. What advantages do dictionaries offer over lists for certain tasks
Ans 11. Dictionaries allow faster data access using keys. They are better when data needs to be labeled and accessed by a unique identifier.

Que 12. Describe a scenario where using a tuple would be preferable over a list
Ans 12. Tuples are better when we want fixed data, like coordinates (x, y) or days of the week. Since they cannot be changed, they protect the data.

Que 13. How do sets handle duplicate values in Python
Ans 13. Sets automatically remove duplicate values. Even if you try to add duplicates, only unique values are stored.

Que 14. How does the “in” keyword work differently for lists and dictionaries
Ans 14. In a list, “in” checks if a value exists. In a dictionary, “in” checks if a key exists, not the value.

Que 15. Can you modify the elements of a tuple? Explain why or why not
Ans 15. No, you cannot modify elements of a tuple because tuples are immutable. Once created, their data cannot be changed.

Que 16. What is a nested dictionary, and give an example of its use case
Ans 16. A nested dictionary is a dictionary inside another dictionary. Example: student = {"name": "Ravi", "marks": {"math": 90, "science": 85}}

Que 17. Describe the time complexity of accessing elements in a dictionary
Ans 17. Accessing elements in a dictionary is usually O(1) time complexity, meaning it is very fast and efficient.

Que 18. In what situations are lists preferred over dictionaries
Ans 18. Lists are better when order matters or when we need to store simple collections of data without keys.

Que 19. Why are dictionaries considered unordered, and how does that affect data retrieval
Ans 19. In older Python versions, dictionaries were unordered. That means items didn't follow the order of insertion. From Python 3.7+, they maintain insertion order but access is still based on keys.

Que 20. Explain the difference between a list and a dictionary in terms of data retrieval
Ans 20. Lists retrieve data by index numbers, like list[0]. Dictionaries retrieve data by keys, like dict["name"], which is faster and more readable for labeled data.

In [ ]:
# write a code with your name and print it .

name = "rishi"
print(name)

rishi

In [ ]:
# write a code to find the length of the string "hellow world "

text = "hello world"
print(len(text))

11

In [ ]:
# write a code to slice the first 3 charecter from the string "python programing "

text = "python programing"
print(text[:3])

pyt

In [ ]:
# write a code to convert the string "hello" to uppercase.

print("hello".upper())

HELLO

In [ ]:
# write a code to replace the "apple" with "orange" in the string i like apple .

text = "i like apple"
print(text. replace ("apple","orange"))

i like orange

In [ ]:
# write a code of lis 1 to 5 and print it
r = [1,2,3,4,5]
print(r)

[1, 2, 3, 4, 5]

In [ ]:
# write a code to creat a list with number 10 to the list [1,2,3,4]

v = [1,2,3,4,5]
v.append(10)
print(v)

[1, 2, 3, 4, 5, 10]

In [ ]:

# write a code to remove the number 3 from the list [1,2,3,4]

t = [1,2,3,4]
t.remove(3)
print(t)

[1, 2, 4]

In [ ]:
# write a code to access the second element in list ['a,b,c,d']

t = ['1','B','C','D']
print(t[1])

B

In [ ]:
# write a to reverse the list [10,20,30,40,50]

list = [10,20.30,40,50]
list . reverse()
print(list)

[50, 40, 20.3, 10]

In [ ]:
# write a code to a tuple with the element 100,200, 300,and print it .

tup = (100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
# write a acess to access the second-to-last element of the tuple ('red','green','blue','yellow')

color = ('red','green','blue','yellow')
print(color[-2])

blue

In [ ]:
# write a code to find the minimum number in the tuple (10,20,30,40,50)

j = ('10','20','30','40','50')
print(min(j))

10

In [ ]:
# write a to find the index of the element "cat" in the tuple ('dog','cat','cow','rabbit')

animal = ('dog','cat','cow','rabbit')
print(animal.index("cat"))

1

In [ ]:
# write a code to  creat a tuple contaning three different fruits and check "kiwi"is in it.

fruits = ('apples','banana','kiwi',)
print("kiwi"in fruits)

True

In [3]:
# write a code to creat a set with the element "a","b","c" and print it
v = {"a","b","c"}
print(v)

{'b', 'a', 'c'}

In [ ]:
# write a code to creat a set with the element 1,2,3,4,5,6,7,8,9 and print it

f = {1,2,3,4,5,6,7,8,9}
print(f)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# write a code to clear all the elements from the set {1,2,3,4,5}

h = {1,2,3,4,5,6,7,8,9}
h. clear()
print(h)

set()

In [ ]:
# write a code to remove the element 4 from the set {1,2,3,4,5,6,}

g = {1,2,3,4,5,6}
g.remove(4)
print(g)

{1, 2, 3, 5, 6}

In [ ]:
# write the code to find the union of two sets [1,2,3]and[3,4,5]

s1 = {1,2,3}
s2 = {3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [4]:
# write a cod eto find the intersection of two sets {1,2,3}  {3,4,5}

s1 = {1,2,3}
s2 = {2,3,4}
print(s1.intersection(s2))

{2, 3}

In [ ]:
# write the code to creat a dictonery with the keys "name","age",and "city" and print it

d = {"name":"rishi","age":"17","place":"pune"}
print(d)

{'name': 'rishi', 'age': '17', 'place': 'pune'}

In [ ]:
# write a code to create a dictionary with the keys "name", in the dictinory {'name','john','age'25}

r = {"name":"john",'age':"25"}
r['country'] = 'USA'
print(r)

{'name': 'john', 'age': '25', 'country': 'USA'}

In [ ]:
# write a code to acess the value associated with the key "name" in the dictonary{'name': 'alice', 'age':30}

d = {'name':'alice','age':'30'}
print(d['name'])

alice

In [ ]:
# write a code to remove a key "age"from the dictonery {'nmae': 'bob','age':'22','city':'new york'}

d = {'nmae': 'bob','age':'22','city':'new york'}
d.pop('age')
print(d)

{'nmae': 'bob', 'city': 'new york'}

In [ ]:
# write a code to remove the keys "city" exist in the dictionary {'nmae':'alice','city':'paris'}

d = {'nmae':'alice','city':'paris'}
print("city" in d )

True

In [5]:
# write a code to crate a list ,tuple abd dic,and print them all

list = [1,2,3]
tup =  (1,2,3)
dic = {"my name is":"eva"}
print(list,tup,dic)

[1, 2, 3] (1, 2, 3) {'my name is': 'eva'}

In [ ]:
# write a code to create a 5 random numbers between 1 and 100 sort in it ascending order and print the result(replaced)

import random
nums = random . sample(range(1, 101), 5)
nums . sort()
print(nums)

[6, 9, 22, 29, 79]

In [ ]:
# write a code to create a list with string and print the element at the third index

words = ["apple", "banana", "cherry","date"]
print(words[3])

date

In [ ]:
# write a code to combine two dictionaries into one and print the result

d1 = {"a":1}
d2 = {"b":2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

In [ ]:
# write a code to convert a list of string onto a set .

words = ["a","b","c"]
print(set(words))

{'b', 'c', 'a'}